@charset "utf-8";
/* CSS Document */
/*--------------------------------
    レイアウト
---------------------------------*/
#container {
	margin:auto;
	width:900px;
	background:khaki;
	padding:0px 50px 80px 50px;
}
.class01{
    text-align: center;
}
/*--------------------------------
    ヘッダー
---------------------------------*/
header {
	background:khaki;
	margin:0;
	padding:0px 50px 110px 50px;
}
h1 {
	font-family: cursive;
    text-shadow:3px 3px 2px #ffcc00;
	font-size:250%;
	color:saddlebrown;
	width:400px;
	float:left;
    text-align:center;
}
header p {
	position:relative;
	top:30px;
	left:30px;
}
/*--------------------------------
    ナビ
---------------------------------*/
nav ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li{
    list-style-type: none;
    float: left;
    text-align: center;
}
a {	
	text-decoration:none;
	border-radius:20px;
	background:gold;
	margin:5px;
	padding:5px;
    display: block;
    width: 205px;
    text-align: center;
}
a:visited{
    color: black;
}
a:hover{
    color:rgba(255,255,255,0.5);
}

/*--------------------------------
    コンテンツ
---------------------------------*/
time {
	font-family:serif;
	font-style:italic;
	color:#666666;
}
#blog article p {
	text-indent:1em;
	line-height:1.25em;
}
h3{
    background-color: #faf4d1;
    border-style: 5px double #ffcf3c;
    text-align: center;
    padding: 5px 5px 15px 15px;
}
p{
    text-align: center;
}

/*--------------------------------
    サイドバー
---------------------------------*/
body{
    background-image: url(../images/yellow.png);
    background-position: right;
}
#test01{
    text-align: left;
}
/*--------------------------------
    フッター
---------------------------------*/
footer {
	text-align:center;
}



